extends layout

block content
  h1= title
  p Welcome to #{title}

  // WRAPPER
  #wrapper

    p
      #add_obj
        fieldset
          input#obj_titre(type='text', placeholder='Titre')
          br
          input#obj_descr(type='text', placeholder='Description')
          br
          input#new_obj(type='button', value='Nouvel objectif')

  // /WRAPPER