extends layout

block content
  h1= title
  p Welcome to #{title}

  // WRAPPER
  #wrapper

    p
      fieldset
        input#obj_content(type='text')
        input#new_obj(type='button', value='Nouvel objectif')

  // /WRAPPER