body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#new {
	display: none;
	margin: auto;
	width: 300px;
	background-color: rgb(100,200,0);
	border: 1px solid black;
}